.Share {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.Share-background {
    /* background: #b9fa51; */
    width: 100%;
    height: 100%;
}

.Share-title {
    position: absolute;
    text-align: center;
    top: 16%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.Share-title .avatar {
    width: 6em;
}

.Share-title .avatar img {
    border: 2px solid #ed9f93;
    border-radius: 50%;
}

.Share-title .avatar p {
    font-weight: bold;
    margin: 0;
}

.Share-title .msg {
    color: #d93624;
    font-size: 1em;
    text-align: left;
    line-height: 2.2em;
}

.Share-title .msg .point {
    font-size: 1.5em;
}

.Share-title .msg p {
    font-weight: bold;
    margin: 0;
}

.Share-go {
    position: absolute;
    text-align: center;
    top: 60%;
    width: 100%;
}

.Share-go-btn {
    border: 1px solid white;
    background: #f45516;
    display: inline-block;
    width: 50%;
    height: 3rem;
    line-height: 3rem;
    color: #fff;
}

.Share-link {
    position: absolute;
    text-align: center;
    top: 82%;
    width: 90%;
    left: 5%;
    display: flex;
    justify-content: center;
}

.Share-link-btn {
    flex: 1 1 auto;
    background: #f0b95c;
    line-height: 2.5rem;
    height: 2.5rem;
    font-weight: bold;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0px 1px 1px #cb5937;
}

.Share-right {
    position: absolute;
    text-align: center;
    bottom: 5%;
    width: 100%;
}

.screen {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    box-shadow: 0px 5px 10px #ccc;
    display: none;
    z-index: 20;
}

.screen.show {
    display: block
}

a {
    color: #333;
}

.Share-part {
    width: 100%;
    height: 100%;
}

@media screen and (min-width:600px) {
    body {
        width: 600px;
        margin: 0 auto;
    }
    .Share {
        width: 600px;
        left: auto;
    }
    .Share-background {
        width: 600px;
        left: auto;
    }
}